<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Página Inicial - Crie grátis um QRCode para celebrar momentos especiais!
    </title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script
      src="{{ url_for('static', filename='js/script.js') }}"
      defer
    ></script>
  </head>

  <body>
    <!-- Conteúdo da página inicial padrão -->
    <div class="container">
      <h1>Crie grátis um QRCode para celebrar momentos especiais!</h1>
      <h4>
        Gere uma página personalizada com um contador de tempo dinâmico desde
        seu evento especial, como casamento, namoro, amizade, noivado, etc., e
        compartilhe seu QR Code exclusivo!
      </h4>
      <form action="/create" method="POST">
        <label for="name1">Nome 1:</label>
        <input type="text" id="name1" name="name1" required /><br />

        <label for="name2">Nome 2:</label>
        <input type="text" id="name2" name="name2" required /><br />

        <label for="event_date">Data do Evento:</label>
        <input type="date" id="event_date" name="event_date" required /><br />

        <label for="event_description"
          >Qual o evento especial desta data?</label
        >
        <select id="event_description" name="event_description" required>
          <option value="se casaram">se casaram</option>
          <option value="se conheceram">se conheceram</option>
          <option value="começaram a namorar">começaram a namorar</option>
          <option value="noivaram">noivaram</option>
          <option value="começaram uma amizade">
            começaram uma amizade
          </option></select
        ><br />

        <label for="message">Mensagem (opcional):</label>
        <textarea
          id="message"
          name="optional_message"
          maxlength="1000"
        ></textarea
        ><br />

        <label for="email"
          >Seu e-mail (enviaremos um link para seu contador):</label
        >
        <input type="email" id="email" name="email" required /><br />

        <button type="submit">Criar Página</button>
      </form>
      <p class="footer-text">*sua página permanecerá ativa por 90 dias</p>
      <p class="footer-text">
        <a href="/deletar">Deletar uma página</a>
      </p>
      <p class="footer-text">entre em contato: contato@qrcodelove.me</p>
    </div>

    <div style="text-align: center; margin-top: 20px">
      <h3
        style="
          font-family: &quot;Montserrat&quot;, sans-serif;
          color: #0077c2;
          font-size: 2rem;
          font-weight: 700;
        "
      >
        Página de Exemplo Personalizada
      </h3>
    </div>

    <!-- Container Principal com Fundo Branco -->
    <div class="container">
      <!-- Contador do evento com Fundo Amarelo -->
      <div
        class="container"
        style="
          background: rgba(255, 255, 0, 0.5);
          border: none;
          box-shadow: none;
        "
      >
        <div id="meu-contador-container">
          <div id="meu-contador"></div>
        </div>
      </div>

      <!-- Conteúdo Principal da Página Interna -->
      <div class="container" style="background: #b3e5fc">
        <!-- Aplicando fundo azul apenas aqui -->
        <!-- Frase sobre tempo passado desde o evento -->
        <h2 class="special-text">Já se passaram desde que:</h2>

        <!-- Nomes das pessoas -->
        <h2 class="special-text">Márcio Ferreira</h2>
        <h2 class="special-text">&amp;</h2>
        <h2 class="special-text">Rafaela Gonçalves Ferreira</h2>

        <!-- Evento ocorrido -->
        <h2 class="special-text">se casaram</h2>

        <!-- Mensagem opcional -->
        <h3 class="optional-message">
          Que o nosso casamento seja preenchido por todos os ingredientes
          certos: um monte de amor, uma pitada de humor, um toque de romance e
          uma colher de compreensão. Que a nossa alegria dure para sempre.
        </h3>
      </div>

      <!-- QR Code -->
      <div class="qr-code">
        <h5></h5>
        <img
          src="{{ url_for('static', filename='images/joao_maria.png') }}"
          alt="QR Code"
        />
      </div>
    </div>

    <!-- Script para inicializar o contador -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function updateCounter() {
          var eventDate = new Date("2023-01-01");
          var currentDate = new Date();
          var timeDiff = currentDate.getTime() - eventDate.getTime();

          var seconds = Math.floor(timeDiff / 1000);
          var minutes = Math.floor(seconds / 60);
          var hours = Math.floor(minutes / 60);
          var days = Math.floor(hours / 24);
          var months = Math.floor(days / 30);
          var years = Math.floor(months / 12);

          months %= 12;
          days %= 30;
          hours %= 24;
          minutes %= 60;
          seconds %= 60;

          // Adicionar zero à esquerda para valores menores que 10
          seconds = seconds < 10 ? "0" + seconds : seconds;
          minutes = minutes < 10 ? "0" + minutes : minutes;
          hours = hours < 10 ? "0" + hours : hours;

          var result = "";
          if (years > 0)
            result += `<div class="time-unit-container"><div class="time-unit">${years}</div><div class="label">anos</div></div>`;
          if (months > 0)
            result += `<div class="time-unit-container"><div class="time-unit">${months}</div><div class="label">meses</div></div>`;
          if (days > 0)
            result += `<div class="time-unit-container"><div class="time-unit">${days}</div><div class="label">dias</div></div>`;
          if (hours > 0)
            result += `<div class="time-unit-container"><div class="time-unit">${hours}</div><div class="label">horas</div></div>`;
          if (minutes > 0)
            result += `<div class="time-unit-container"><div class="time-unit">${minutes}</div><div class="label">minutos</div></div>`;
          result += `<div class="time-unit-container"><div class="time-unit">${seconds}</div><div class="label">segundos</div></div>`;

          document.getElementById("meu-contador").innerHTML = result;
        }

        setInterval(updateCounter, 1000);
        updateCounter();
      });
    </script>
  </body>
</html>
