<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Code da Página</title>
  </head>
  <body>
    <h1>Sua página foi criada!</h1>
    <p>Acesse a página do casal usando o link abaixo:</p>
    <a href="{{ url }}">{{ url }}</a>
    <p>Ou escaneie o QR code:</p>
    <img
      src="{{ url_for('static', filename='qrcodes/' ~ couple_id ~ '.png') }}"
      alt="QR Code"
    />
  </body>
</html>
